/* unstyle/font-size - write less styles */
/* https://github.com/jarvisniu/unstyle */

// ice design - https://alibaba.github.io/ice/design.html
// ant design - https://ant.design/docs/spec/font-cn
sizes = {
  '1': 12px // 注解 annotation
  '2': 14px // 次内容 sub content
  '3': 16px // 内容 content
  '4': 18px // 标题 title
  '5': 24px // 展示 presentation
  // write inline style for larger sizes
}

for $index, $size in sizes
  .fs-{$index}
    font-size $size !important
