/* unstyle - Write less styles */
:root {
  --unstyle-border-color: #e6e6e6;
}
.p-static {
  position: static !important;
}
.p-relative {
  position: relative !important;
}
.p-absolute {
  position: absolute !important;
}
.p-fixed {
  position: fixed !important;
}
.p-sticky {
  position: sticky !important;
}
.d-inherit {
  display: inherit !important;
}
.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}
.d-table {
  display: table !important;
}
.d-table-cell {
  display: table-cell !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.float-none {
  float: none !important;
}
.clearfix {
  overflow: auto;
}
.full-height,
.h-full {
  height: 100% !important;
}
.full-width,
.w-full {
  width: 100% !important;
}
.full-size {
  width: 100%;
  height: 100%;
}
.o-visible {
  overflow: visible;
}
.o-x-visible {
  overflow-x: visible;
}
.o-y-visible {
  overflow-y: visible;
}
.o-scroll {
  overflow: scroll;
}
.o-x-scroll {
  overflow-x: scroll;
}
.o-y-scroll {
  overflow-y: scroll;
}
.o-hidden {
  overflow: hidden;
}
.o-x-hidden {
  overflow-x: hidden;
}
.o-y-hidden {
  overflow-y: hidden;
}
.o-auto {
  overflow: auto;
}
.o-x-auto {
  overflow-x: auto;
}
.o-y-auto {
  overflow-y: auto;
}
.w-10 {
  width: 10px;
}
.h-10 {
  height: 10px;
}
.w-m-10 {
  width: calc(100% - 10px);
}
.h-m-10 {
  height: calc(100% - 10px);
}
.min-w-10 {
  min-width: 10px;
}
.min-h-10 {
  min-height: 10px;
}
.max-w-10 {
  max-width: 10px;
}
.max-h-10 {
  max-height: 10px;
}
.w-12 {
  width: 12px;
}
.h-12 {
  height: 12px;
}
.w-m-12 {
  width: calc(100% - 12px);
}
.h-m-12 {
  height: calc(100% - 12px);
}
.min-w-12 {
  min-width: 12px;
}
.min-h-12 {
  min-height: 12px;
}
.max-w-12 {
  max-width: 12px;
}
.max-h-12 {
  max-height: 12px;
}
.w-15 {
  width: 15px;
}
.h-15 {
  height: 15px;
}
.w-m-15 {
  width: calc(100% - 15px);
}
.h-m-15 {
  height: calc(100% - 15px);
}
.min-w-15 {
  min-width: 15px;
}
.min-h-15 {
  min-height: 15px;
}
.max-w-15 {
  max-width: 15px;
}
.max-h-15 {
  max-height: 15px;
}
.w-20 {
  width: 20px;
}
.h-20 {
  height: 20px;
}
.w-m-20 {
  width: calc(100% - 20px);
}
.h-m-20 {
  height: calc(100% - 20px);
}
.min-w-20 {
  min-width: 20px;
}
.min-h-20 {
  min-height: 20px;
}
.max-w-20 {
  max-width: 20px;
}
.max-h-20 {
  max-height: 20px;
}
.w-25 {
  width: 25px;
}
.h-25 {
  height: 25px;
}
.w-m-25 {
  width: calc(100% - 25px);
}
.h-m-25 {
  height: calc(100% - 25px);
}
.min-w-25 {
  min-width: 25px;
}
.min-h-25 {
  min-height: 25px;
}
.max-w-25 {
  max-width: 25px;
}
.max-h-25 {
  max-height: 25px;
}
.w-30 {
  width: 30px;
}
.h-30 {
  height: 30px;
}
.w-m-30 {
  width: calc(100% - 30px);
}
.h-m-30 {
  height: calc(100% - 30px);
}
.min-w-30 {
  min-width: 30px;
}
.min-h-30 {
  min-height: 30px;
}
.max-w-30 {
  max-width: 30px;
}
.max-h-30 {
  max-height: 30px;
}
.w-40 {
  width: 40px;
}
.h-40 {
  height: 40px;
}
.w-m-40 {
  width: calc(100% - 40px);
}
.h-m-40 {
  height: calc(100% - 40px);
}
.min-w-40 {
  min-width: 40px;
}
.min-h-40 {
  min-height: 40px;
}
.max-w-40 {
  max-width: 40px;
}
.max-h-40 {
  max-height: 40px;
}
.w-50 {
  width: 50px;
}
.h-50 {
  height: 50px;
}
.w-m-50 {
  width: calc(100% - 50px);
}
.h-m-50 {
  height: calc(100% - 50px);
}
.min-w-50 {
  min-width: 50px;
}
.min-h-50 {
  min-height: 50px;
}
.max-w-50 {
  max-width: 50px;
}
.max-h-50 {
  max-height: 50px;
}
.w-60 {
  width: 60px;
}
.h-60 {
  height: 60px;
}
.w-m-60 {
  width: calc(100% - 60px);
}
.h-m-60 {
  height: calc(100% - 60px);
}
.min-w-60 {
  min-width: 60px;
}
.min-h-60 {
  min-height: 60px;
}
.max-w-60 {
  max-width: 60px;
}
.max-h-60 {
  max-height: 60px;
}
.w-70 {
  width: 70px;
}
.h-70 {
  height: 70px;
}
.w-m-70 {
  width: calc(100% - 70px);
}
.h-m-70 {
  height: calc(100% - 70px);
}
.min-w-70 {
  min-width: 70px;
}
.min-h-70 {
  min-height: 70px;
}
.max-w-70 {
  max-width: 70px;
}
.max-h-70 {
  max-height: 70px;
}
.w-80 {
  width: 80px;
}
.h-80 {
  height: 80px;
}
.w-m-80 {
  width: calc(100% - 80px);
}
.h-m-80 {
  height: calc(100% - 80px);
}
.min-w-80 {
  min-width: 80px;
}
.min-h-80 {
  min-height: 80px;
}
.max-w-80 {
  max-width: 80px;
}
.max-h-80 {
  max-height: 80px;
}
.w-90 {
  width: 90px;
}
.h-90 {
  height: 90px;
}
.w-m-90 {
  width: calc(100% - 90px);
}
.h-m-90 {
  height: calc(100% - 90px);
}
.min-w-90 {
  min-width: 90px;
}
.min-h-90 {
  min-height: 90px;
}
.max-w-90 {
  max-width: 90px;
}
.max-h-90 {
  max-height: 90px;
}
.w-100 {
  width: 100px;
}
.h-100 {
  height: 100px;
}
.w-m-100 {
  width: calc(100% - 100px);
}
.h-m-100 {
  height: calc(100% - 100px);
}
.min-w-100 {
  min-width: 100px;
}
.min-h-100 {
  min-height: 100px;
}
.max-w-100 {
  max-width: 100px;
}
.max-h-100 {
  max-height: 100px;
}
.w-120 {
  width: 120px;
}
.h-120 {
  height: 120px;
}
.w-m-120 {
  width: calc(100% - 120px);
}
.h-m-120 {
  height: calc(100% - 120px);
}
.min-w-120 {
  min-width: 120px;
}
.min-h-120 {
  min-height: 120px;
}
.max-w-120 {
  max-width: 120px;
}
.max-h-120 {
  max-height: 120px;
}
.w-150 {
  width: 150px;
}
.h-150 {
  height: 150px;
}
.w-m-150 {
  width: calc(100% - 150px);
}
.h-m-150 {
  height: calc(100% - 150px);
}
.min-w-150 {
  min-width: 150px;
}
.min-h-150 {
  min-height: 150px;
}
.max-w-150 {
  max-width: 150px;
}
.max-h-150 {
  max-height: 150px;
}
.w-200 {
  width: 200px;
}
.h-200 {
  height: 200px;
}
.w-m-200 {
  width: calc(100% - 200px);
}
.h-m-200 {
  height: calc(100% - 200px);
}
.min-w-200 {
  min-width: 200px;
}
.min-h-200 {
  min-height: 200px;
}
.max-w-200 {
  max-width: 200px;
}
.max-h-200 {
  max-height: 200px;
}
.w-250 {
  width: 250px;
}
.h-250 {
  height: 250px;
}
.w-m-250 {
  width: calc(100% - 250px);
}
.h-m-250 {
  height: calc(100% - 250px);
}
.min-w-250 {
  min-width: 250px;
}
.min-h-250 {
  min-height: 250px;
}
.max-w-250 {
  max-width: 250px;
}
.max-h-250 {
  max-height: 250px;
}
.w-300 {
  width: 300px;
}
.h-300 {
  height: 300px;
}
.w-m-300 {
  width: calc(100% - 300px);
}
.h-m-300 {
  height: calc(100% - 300px);
}
.min-w-300 {
  min-width: 300px;
}
.min-h-300 {
  min-height: 300px;
}
.max-w-300 {
  max-width: 300px;
}
.max-h-300 {
  max-height: 300px;
}
.w-400 {
  width: 400px;
}
.h-400 {
  height: 400px;
}
.w-m-400 {
  width: calc(100% - 400px);
}
.h-m-400 {
  height: calc(100% - 400px);
}
.min-w-400 {
  min-width: 400px;
}
.min-h-400 {
  min-height: 400px;
}
.max-w-400 {
  max-width: 400px;
}
.max-h-400 {
  max-height: 400px;
}
.w-500 {
  width: 500px;
}
.h-500 {
  height: 500px;
}
.w-m-500 {
  width: calc(100% - 500px);
}
.h-m-500 {
  height: calc(100% - 500px);
}
.min-w-500 {
  min-width: 500px;
}
.min-h-500 {
  min-height: 500px;
}
.max-w-500 {
  max-width: 500px;
}
.max-h-500 {
  max-height: 500px;
}
.w-600 {
  width: 600px;
}
.h-600 {
  height: 600px;
}
.w-m-600 {
  width: calc(100% - 600px);
}
.h-m-600 {
  height: calc(100% - 600px);
}
.min-w-600 {
  min-width: 600px;
}
.min-h-600 {
  min-height: 600px;
}
.max-w-600 {
  max-width: 600px;
}
.max-h-600 {
  max-height: 600px;
}
.w-800 {
  width: 800px;
}
.h-800 {
  height: 800px;
}
.w-m-800 {
  width: calc(100% - 800px);
}
.h-m-800 {
  height: calc(100% - 800px);
}
.min-w-800 {
  min-width: 800px;
}
.min-h-800 {
  min-height: 800px;
}
.max-w-800 {
  max-width: 800px;
}
.max-h-800 {
  max-height: 800px;
}
.w-1000 {
  width: 1000px;
}
.h-1000 {
  height: 1000px;
}
.w-m-1000 {
  width: calc(100% - 1000px);
}
.h-m-1000 {
  height: calc(100% - 1000px);
}
.min-w-1000 {
  min-width: 1000px;
}
.min-h-1000 {
  min-height: 1000px;
}
.max-w-1000 {
  max-width: 1000px;
}
.max-h-1000 {
  max-height: 1000px;
}
.w-1-2 {
  width: 50% !important;
}
.w-2-2 {
  width: 100% !important;
}
.w-1-3 {
  width: 33.33333333333333% !important;
}
.w-2-3 {
  width: 66.66666666666666% !important;
}
.w-3-3 {
  width: 100% !important;
}
.w-1-4 {
  width: 25% !important;
}
.w-2-4 {
  width: 50% !important;
}
.w-3-4 {
  width: 75% !important;
}
.w-4-4 {
  width: 100% !important;
}
.w-1-5 {
  width: 20% !important;
}
.w-2-5 {
  width: 40% !important;
}
.w-3-5 {
  width: 60% !important;
}
.w-4-5 {
  width: 80% !important;
}
.w-5-5 {
  width: 100% !important;
}
.w-1-6 {
  width: 16.666666666666664% !important;
}
.w-2-6 {
  width: 33.33333333333333% !important;
}
.w-3-6 {
  width: 50% !important;
}
.w-4-6 {
  width: 66.66666666666666% !important;
}
.w-5-6 {
  width: 83.33333333333334% !important;
}
.w-6-6 {
  width: 100% !important;
}
.w-1-12 {
  width: 8.333333333333332% !important;
}
.w-2-12 {
  width: 16.666666666666664% !important;
}
.w-3-12 {
  width: 25% !important;
}
.w-4-12 {
  width: 33.33333333333333% !important;
}
.w-5-12 {
  width: 41.66666666666667% !important;
}
.w-6-12 {
  width: 50% !important;
}
.w-7-12 {
  width: 58.333333333333336% !important;
}
.w-8-12 {
  width: 66.66666666666666% !important;
}
.w-9-12 {
  width: 75% !important;
}
.w-10-12 {
  width: 83.33333333333334% !important;
}
.w-11-12 {
  width: 91.66666666666666% !important;
}
.w-12-12 {
  width: 100% !important;
}
.w-1-24 {
  width: 4.166666666666666% !important;
}
.w-2-24 {
  width: 8.333333333333332% !important;
}
.w-3-24 {
  width: 12.5% !important;
}
.w-4-24 {
  width: 16.666666666666664% !important;
}
.w-5-24 {
  width: 20.833333333333336% !important;
}
.w-6-24 {
  width: 25% !important;
}
.w-7-24 {
  width: 29.166666666666668% !important;
}
.w-8-24 {
  width: 33.33333333333333% !important;
}
.w-9-24 {
  width: 37.5% !important;
}
.w-10-24 {
  width: 41.66666666666667% !important;
}
.w-11-24 {
  width: 45.83333333333333% !important;
}
.w-12-24 {
  width: 50% !important;
}
.w-13-24 {
  width: 54.166666666666664% !important;
}
.w-14-24 {
  width: 58.333333333333336% !important;
}
.w-15-24 {
  width: 62.5% !important;
}
.w-16-24 {
  width: 66.66666666666666% !important;
}
.w-17-24 {
  width: 70.83333333333334% !important;
}
.w-18-24 {
  width: 75% !important;
}
.w-19-24 {
  width: 79.16666666666666% !important;
}
.w-20-24 {
  width: 83.33333333333334% !important;
}
.w-21-24 {
  width: 87.5% !important;
}
.w-22-24 {
  width: 91.66666666666666% !important;
}
.w-23-24 {
  width: 95.83333333333334% !important;
}
.w-24-24 {
  width: 100% !important;
}
.m-t--20 {
  margin-top: -20px !important;
}
.m-b--20 {
  margin-bottom: -20px !important;
}
.m-l--20 {
  margin-left: -20px !important;
}
.m-r--20 {
  margin-right: -20px !important;
}
.m-x--20 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}
.m-y--20 {
  margin-top: -20px !important;
  margin-bottom: -20px !important;
}
.m-a--20 {
  margin: -20px !important;
}
.p-t--20 {
  padding-top: -20px !important;
}
.p-b--20 {
  padding-bottom: -20px !important;
}
.p-l--20 {
  padding-left: -20px !important;
}
.p-r--20 {
  padding-right: -20px !important;
}
.p-x--20 {
  padding-left: -20px !important;
  padding-right: -20px !important;
}
.p-y--20 {
  padding-top: -20px !important;
  padding-bottom: -20px !important;
}
.p-a--20 {
  padding: -20px !important;
}
.top--20 {
  top: -20px !important;
}
.right--20 {
  right: -20px !important;
}
.bottom--20 {
  bottom: -20px !important;
}
.left--20 {
  left: -20px !important;
}
.m-t--15 {
  margin-top: -15px !important;
}
.m-b--15 {
  margin-bottom: -15px !important;
}
.m-l--15 {
  margin-left: -15px !important;
}
.m-r--15 {
  margin-right: -15px !important;
}
.m-x--15 {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.m-y--15 {
  margin-top: -15px !important;
  margin-bottom: -15px !important;
}
.m-a--15 {
  margin: -15px !important;
}
.p-t--15 {
  padding-top: -15px !important;
}
.p-b--15 {
  padding-bottom: -15px !important;
}
.p-l--15 {
  padding-left: -15px !important;
}
.p-r--15 {
  padding-right: -15px !important;
}
.p-x--15 {
  padding-left: -15px !important;
  padding-right: -15px !important;
}
.p-y--15 {
  padding-top: -15px !important;
  padding-bottom: -15px !important;
}
.p-a--15 {
  padding: -15px !important;
}
.top--15 {
  top: -15px !important;
}
.right--15 {
  right: -15px !important;
}
.bottom--15 {
  bottom: -15px !important;
}
.left--15 {
  left: -15px !important;
}
.m-t--12 {
  margin-top: -12px !important;
}
.m-b--12 {
  margin-bottom: -12px !important;
}
.m-l--12 {
  margin-left: -12px !important;
}
.m-r--12 {
  margin-right: -12px !important;
}
.m-x--12 {
  margin-left: -12px !important;
  margin-right: -12px !important;
}
.m-y--12 {
  margin-top: -12px !important;
  margin-bottom: -12px !important;
}
.m-a--12 {
  margin: -12px !important;
}
.p-t--12 {
  padding-top: -12px !important;
}
.p-b--12 {
  padding-bottom: -12px !important;
}
.p-l--12 {
  padding-left: -12px !important;
}
.p-r--12 {
  padding-right: -12px !important;
}
.p-x--12 {
  padding-left: -12px !important;
  padding-right: -12px !important;
}
.p-y--12 {
  padding-top: -12px !important;
  padding-bottom: -12px !important;
}
.p-a--12 {
  padding: -12px !important;
}
.top--12 {
  top: -12px !important;
}
.right--12 {
  right: -12px !important;
}
.bottom--12 {
  bottom: -12px !important;
}
.left--12 {
  left: -12px !important;
}
.m-t--10 {
  margin-top: -10px !important;
}
.m-b--10 {
  margin-bottom: -10px !important;
}
.m-l--10 {
  margin-left: -10px !important;
}
.m-r--10 {
  margin-right: -10px !important;
}
.m-x--10 {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.m-y--10 {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}
.m-a--10 {
  margin: -10px !important;
}
.p-t--10 {
  padding-top: -10px !important;
}
.p-b--10 {
  padding-bottom: -10px !important;
}
.p-l--10 {
  padding-left: -10px !important;
}
.p-r--10 {
  padding-right: -10px !important;
}
.p-x--10 {
  padding-left: -10px !important;
  padding-right: -10px !important;
}
.p-y--10 {
  padding-top: -10px !important;
  padding-bottom: -10px !important;
}
.p-a--10 {
  padding: -10px !important;
}
.top--10 {
  top: -10px !important;
}
.right--10 {
  right: -10px !important;
}
.bottom--10 {
  bottom: -10px !important;
}
.left--10 {
  left: -10px !important;
}
.m-t--8 {
  margin-top: -8px !important;
}
.m-b--8 {
  margin-bottom: -8px !important;
}
.m-l--8 {
  margin-left: -8px !important;
}
.m-r--8 {
  margin-right: -8px !important;
}
.m-x--8 {
  margin-left: -8px !important;
  margin-right: -8px !important;
}
.m-y--8 {
  margin-top: -8px !important;
  margin-bottom: -8px !important;
}
.m-a--8 {
  margin: -8px !important;
}
.p-t--8 {
  padding-top: -8px !important;
}
.p-b--8 {
  padding-bottom: -8px !important;
}
.p-l--8 {
  padding-left: -8px !important;
}
.p-r--8 {
  padding-right: -8px !important;
}
.p-x--8 {
  padding-left: -8px !important;
  padding-right: -8px !important;
}
.p-y--8 {
  padding-top: -8px !important;
  padding-bottom: -8px !important;
}
.p-a--8 {
  padding: -8px !important;
}
.top--8 {
  top: -8px !important;
}
.right--8 {
  right: -8px !important;
}
.bottom--8 {
  bottom: -8px !important;
}
.left--8 {
  left: -8px !important;
}
.m-t--6 {
  margin-top: -6px !important;
}
.m-b--6 {
  margin-bottom: -6px !important;
}
.m-l--6 {
  margin-left: -6px !important;
}
.m-r--6 {
  margin-right: -6px !important;
}
.m-x--6 {
  margin-left: -6px !important;
  margin-right: -6px !important;
}
.m-y--6 {
  margin-top: -6px !important;
  margin-bottom: -6px !important;
}
.m-a--6 {
  margin: -6px !important;
}
.p-t--6 {
  padding-top: -6px !important;
}
.p-b--6 {
  padding-bottom: -6px !important;
}
.p-l--6 {
  padding-left: -6px !important;
}
.p-r--6 {
  padding-right: -6px !important;
}
.p-x--6 {
  padding-left: -6px !important;
  padding-right: -6px !important;
}
.p-y--6 {
  padding-top: -6px !important;
  padding-bottom: -6px !important;
}
.p-a--6 {
  padding: -6px !important;
}
.top--6 {
  top: -6px !important;
}
.right--6 {
  right: -6px !important;
}
.bottom--6 {
  bottom: -6px !important;
}
.left--6 {
  left: -6px !important;
}
.m-t--5 {
  margin-top: -5px !important;
}
.m-b--5 {
  margin-bottom: -5px !important;
}
.m-l--5 {
  margin-left: -5px !important;
}
.m-r--5 {
  margin-right: -5px !important;
}
.m-x--5 {
  margin-left: -5px !important;
  margin-right: -5px !important;
}
.m-y--5 {
  margin-top: -5px !important;
  margin-bottom: -5px !important;
}
.m-a--5 {
  margin: -5px !important;
}
.p-t--5 {
  padding-top: -5px !important;
}
.p-b--5 {
  padding-bottom: -5px !important;
}
.p-l--5 {
  padding-left: -5px !important;
}
.p-r--5 {
  padding-right: -5px !important;
}
.p-x--5 {
  padding-left: -5px !important;
  padding-right: -5px !important;
}
.p-y--5 {
  padding-top: -5px !important;
  padding-bottom: -5px !important;
}
.p-a--5 {
  padding: -5px !important;
}
.top--5 {
  top: -5px !important;
}
.right--5 {
  right: -5px !important;
}
.bottom--5 {
  bottom: -5px !important;
}
.left--5 {
  left: -5px !important;
}
.m-t--4 {
  margin-top: -4px !important;
}
.m-b--4 {
  margin-bottom: -4px !important;
}
.m-l--4 {
  margin-left: -4px !important;
}
.m-r--4 {
  margin-right: -4px !important;
}
.m-x--4 {
  margin-left: -4px !important;
  margin-right: -4px !important;
}
.m-y--4 {
  margin-top: -4px !important;
  margin-bottom: -4px !important;
}
.m-a--4 {
  margin: -4px !important;
}
.p-t--4 {
  padding-top: -4px !important;
}
.p-b--4 {
  padding-bottom: -4px !important;
}
.p-l--4 {
  padding-left: -4px !important;
}
.p-r--4 {
  padding-right: -4px !important;
}
.p-x--4 {
  padding-left: -4px !important;
  padding-right: -4px !important;
}
.p-y--4 {
  padding-top: -4px !important;
  padding-bottom: -4px !important;
}
.p-a--4 {
  padding: -4px !important;
}
.top--4 {
  top: -4px !important;
}
.right--4 {
  right: -4px !important;
}
.bottom--4 {
  bottom: -4px !important;
}
.left--4 {
  left: -4px !important;
}
.m-t--3 {
  margin-top: -3px !important;
}
.m-b--3 {
  margin-bottom: -3px !important;
}
.m-l--3 {
  margin-left: -3px !important;
}
.m-r--3 {
  margin-right: -3px !important;
}
.m-x--3 {
  margin-left: -3px !important;
  margin-right: -3px !important;
}
.m-y--3 {
  margin-top: -3px !important;
  margin-bottom: -3px !important;
}
.m-a--3 {
  margin: -3px !important;
}
.p-t--3 {
  padding-top: -3px !important;
}
.p-b--3 {
  padding-bottom: -3px !important;
}
.p-l--3 {
  padding-left: -3px !important;
}
.p-r--3 {
  padding-right: -3px !important;
}
.p-x--3 {
  padding-left: -3px !important;
  padding-right: -3px !important;
}
.p-y--3 {
  padding-top: -3px !important;
  padding-bottom: -3px !important;
}
.p-a--3 {
  padding: -3px !important;
}
.top--3 {
  top: -3px !important;
}
.right--3 {
  right: -3px !important;
}
.bottom--3 {
  bottom: -3px !important;
}
.left--3 {
  left: -3px !important;
}
.m-t--2 {
  margin-top: -2px !important;
}
.m-b--2 {
  margin-bottom: -2px !important;
}
.m-l--2 {
  margin-left: -2px !important;
}
.m-r--2 {
  margin-right: -2px !important;
}
.m-x--2 {
  margin-left: -2px !important;
  margin-right: -2px !important;
}
.m-y--2 {
  margin-top: -2px !important;
  margin-bottom: -2px !important;
}
.m-a--2 {
  margin: -2px !important;
}
.p-t--2 {
  padding-top: -2px !important;
}
.p-b--2 {
  padding-bottom: -2px !important;
}
.p-l--2 {
  padding-left: -2px !important;
}
.p-r--2 {
  padding-right: -2px !important;
}
.p-x--2 {
  padding-left: -2px !important;
  padding-right: -2px !important;
}
.p-y--2 {
  padding-top: -2px !important;
  padding-bottom: -2px !important;
}
.p-a--2 {
  padding: -2px !important;
}
.top--2 {
  top: -2px !important;
}
.right--2 {
  right: -2px !important;
}
.bottom--2 {
  bottom: -2px !important;
}
.left--2 {
  left: -2px !important;
}
.m-t--1 {
  margin-top: -1px !important;
}
.m-b--1 {
  margin-bottom: -1px !important;
}
.m-l--1 {
  margin-left: -1px !important;
}
.m-r--1 {
  margin-right: -1px !important;
}
.m-x--1 {
  margin-left: -1px !important;
  margin-right: -1px !important;
}
.m-y--1 {
  margin-top: -1px !important;
  margin-bottom: -1px !important;
}
.m-a--1 {
  margin: -1px !important;
}
.p-t--1 {
  padding-top: -1px !important;
}
.p-b--1 {
  padding-bottom: -1px !important;
}
.p-l--1 {
  padding-left: -1px !important;
}
.p-r--1 {
  padding-right: -1px !important;
}
.p-x--1 {
  padding-left: -1px !important;
  padding-right: -1px !important;
}
.p-y--1 {
  padding-top: -1px !important;
  padding-bottom: -1px !important;
}
.p-a--1 {
  padding: -1px !important;
}
.top--1 {
  top: -1px !important;
}
.right--1 {
  right: -1px !important;
}
.bottom--1 {
  bottom: -1px !important;
}
.left--1 {
  left: -1px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-l-0 {
  margin-left: 0px !important;
}
.m-r-0 {
  margin-right: 0px !important;
}
.m-x-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.m-y-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.m-a-0 {
  margin: 0px !important;
}
.p-t-0 {
  padding-top: 0px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-x-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.p-y-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.p-a-0 {
  padding: 0px !important;
}
.top-0 {
  top: 0px !important;
}
.right-0 {
  right: 0px !important;
}
.bottom-0 {
  bottom: 0px !important;
}
.left-0 {
  left: 0px !important;
}
.m-t-1 {
  margin-top: 1px !important;
}
.m-b-1 {
  margin-bottom: 1px !important;
}
.m-l-1 {
  margin-left: 1px !important;
}
.m-r-1 {
  margin-right: 1px !important;
}
.m-x-1 {
  margin-left: 1px !important;
  margin-right: 1px !important;
}
.m-y-1 {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}
.m-a-1 {
  margin: 1px !important;
}
.p-t-1 {
  padding-top: 1px !important;
}
.p-b-1 {
  padding-bottom: 1px !important;
}
.p-l-1 {
  padding-left: 1px !important;
}
.p-r-1 {
  padding-right: 1px !important;
}
.p-x-1 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.p-y-1 {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
.p-a-1 {
  padding: 1px !important;
}
.top-1 {
  top: 1px !important;
}
.right-1 {
  right: 1px !important;
}
.bottom-1 {
  bottom: 1px !important;
}
.left-1 {
  left: 1px !important;
}
.m-t-2 {
  margin-top: 2px !important;
}
.m-b-2 {
  margin-bottom: 2px !important;
}
.m-l-2 {
  margin-left: 2px !important;
}
.m-r-2 {
  margin-right: 2px !important;
}
.m-x-2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}
.m-y-2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.m-a-2 {
  margin: 2px !important;
}
.p-t-2 {
  padding-top: 2px !important;
}
.p-b-2 {
  padding-bottom: 2px !important;
}
.p-l-2 {
  padding-left: 2px !important;
}
.p-r-2 {
  padding-right: 2px !important;
}
.p-x-2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.p-y-2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.p-a-2 {
  padding: 2px !important;
}
.top-2 {
  top: 2px !important;
}
.right-2 {
  right: 2px !important;
}
.bottom-2 {
  bottom: 2px !important;
}
.left-2 {
  left: 2px !important;
}
.m-t-3 {
  margin-top: 3px !important;
}
.m-b-3 {
  margin-bottom: 3px !important;
}
.m-l-3 {
  margin-left: 3px !important;
}
.m-r-3 {
  margin-right: 3px !important;
}
.m-x-3 {
  margin-left: 3px !important;
  margin-right: 3px !important;
}
.m-y-3 {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}
.m-a-3 {
  margin: 3px !important;
}
.p-t-3 {
  padding-top: 3px !important;
}
.p-b-3 {
  padding-bottom: 3px !important;
}
.p-l-3 {
  padding-left: 3px !important;
}
.p-r-3 {
  padding-right: 3px !important;
}
.p-x-3 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.p-y-3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.p-a-3 {
  padding: 3px !important;
}
.top-3 {
  top: 3px !important;
}
.right-3 {
  right: 3px !important;
}
.bottom-3 {
  bottom: 3px !important;
}
.left-3 {
  left: 3px !important;
}
.m-t-4 {
  margin-top: 4px !important;
}
.m-b-4 {
  margin-bottom: 4px !important;
}
.m-l-4 {
  margin-left: 4px !important;
}
.m-r-4 {
  margin-right: 4px !important;
}
.m-x-4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.m-y-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.m-a-4 {
  margin: 4px !important;
}
.p-t-4 {
  padding-top: 4px !important;
}
.p-b-4 {
  padding-bottom: 4px !important;
}
.p-l-4 {
  padding-left: 4px !important;
}
.p-r-4 {
  padding-right: 4px !important;
}
.p-x-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.p-y-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.p-a-4 {
  padding: 4px !important;
}
.top-4 {
  top: 4px !important;
}
.right-4 {
  right: 4px !important;
}
.bottom-4 {
  bottom: 4px !important;
}
.left-4 {
  left: 4px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-x-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.m-y-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.m-a-5 {
  margin: 5px !important;
}
.p-t-5 {
  padding-top: 5px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-x-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.p-y-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.p-a-5 {
  padding: 5px !important;
}
.top-5 {
  top: 5px !important;
}
.right-5 {
  right: 5px !important;
}
.bottom-5 {
  bottom: 5px !important;
}
.left-5 {
  left: 5px !important;
}
.m-t-6 {
  margin-top: 6px !important;
}
.m-b-6 {
  margin-bottom: 6px !important;
}
.m-l-6 {
  margin-left: 6px !important;
}
.m-r-6 {
  margin-right: 6px !important;
}
.m-x-6 {
  margin-left: 6px !important;
  margin-right: 6px !important;
}
.m-y-6 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}
.m-a-6 {
  margin: 6px !important;
}
.p-t-6 {
  padding-top: 6px !important;
}
.p-b-6 {
  padding-bottom: 6px !important;
}
.p-l-6 {
  padding-left: 6px !important;
}
.p-r-6 {
  padding-right: 6px !important;
}
.p-x-6 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.p-y-6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.p-a-6 {
  padding: 6px !important;
}
.top-6 {
  top: 6px !important;
}
.right-6 {
  right: 6px !important;
}
.bottom-6 {
  bottom: 6px !important;
}
.left-6 {
  left: 6px !important;
}
.m-t-8 {
  margin-top: 8px !important;
}
.m-b-8 {
  margin-bottom: 8px !important;
}
.m-l-8 {
  margin-left: 8px !important;
}
.m-r-8 {
  margin-right: 8px !important;
}
.m-x-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.m-y-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.m-a-8 {
  margin: 8px !important;
}
.p-t-8 {
  padding-top: 8px !important;
}
.p-b-8 {
  padding-bottom: 8px !important;
}
.p-l-8 {
  padding-left: 8px !important;
}
.p-r-8 {
  padding-right: 8px !important;
}
.p-x-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.p-y-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.p-a-8 {
  padding: 8px !important;
}
.top-8 {
  top: 8px !important;
}
.right-8 {
  right: 8px !important;
}
.bottom-8 {
  bottom: 8px !important;
}
.left-8 {
  left: 8px !important;
}
.m-t-9 {
  margin-top: 9px !important;
}
.m-b-9 {
  margin-bottom: 9px !important;
}
.m-l-9 {
  margin-left: 9px !important;
}
.m-r-9 {
  margin-right: 9px !important;
}
.m-x-9 {
  margin-left: 9px !important;
  margin-right: 9px !important;
}
.m-y-9 {
  margin-top: 9px !important;
  margin-bottom: 9px !important;
}
.m-a-9 {
  margin: 9px !important;
}
.p-t-9 {
  padding-top: 9px !important;
}
.p-b-9 {
  padding-bottom: 9px !important;
}
.p-l-9 {
  padding-left: 9px !important;
}
.p-r-9 {
  padding-right: 9px !important;
}
.p-x-9 {
  padding-left: 9px !important;
  padding-right: 9px !important;
}
.p-y-9 {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}
.p-a-9 {
  padding: 9px !important;
}
.top-9 {
  top: 9px !important;
}
.right-9 {
  right: 9px !important;
}
.bottom-9 {
  bottom: 9px !important;
}
.left-9 {
  left: 9px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-x-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-a-10 {
  margin: 10px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.p-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.p-a-10 {
  padding: 10px !important;
}
.top-10 {
  top: 10px !important;
}
.right-10 {
  right: 10px !important;
}
.bottom-10 {
  bottom: 10px !important;
}
.left-10 {
  left: 10px !important;
}
.m-t-12 {
  margin-top: 12px !important;
}
.m-b-12 {
  margin-bottom: 12px !important;
}
.m-l-12 {
  margin-left: 12px !important;
}
.m-r-12 {
  margin-right: 12px !important;
}
.m-x-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.m-y-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.m-a-12 {
  margin: 12px !important;
}
.p-t-12 {
  padding-top: 12px !important;
}
.p-b-12 {
  padding-bottom: 12px !important;
}
.p-l-12 {
  padding-left: 12px !important;
}
.p-r-12 {
  padding-right: 12px !important;
}
.p-x-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.p-y-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.p-a-12 {
  padding: 12px !important;
}
.top-12 {
  top: 12px !important;
}
.right-12 {
  right: 12px !important;
}
.bottom-12 {
  bottom: 12px !important;
}
.left-12 {
  left: 12px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-x-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.m-a-15 {
  margin: 15px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-x-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.p-y-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.p-a-15 {
  padding: 15px !important;
}
.top-15 {
  top: 15px !important;
}
.right-15 {
  right: 15px !important;
}
.bottom-15 {
  bottom: 15px !important;
}
.left-15 {
  left: 15px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-r-20 {
  margin-right: 20px !important;
}
.m-x-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.m-y-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.m-a-20 {
  margin: 20px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-x-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.p-y-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.p-a-20 {
  padding: 20px !important;
}
.top-20 {
  top: 20px !important;
}
.right-20 {
  right: 20px !important;
}
.bottom-20 {
  bottom: 20px !important;
}
.left-20 {
  left: 20px !important;
}
.m-t-25 {
  margin-top: 25px !important;
}
.m-b-25 {
  margin-bottom: 25px !important;
}
.m-l-25 {
  margin-left: 25px !important;
}
.m-r-25 {
  margin-right: 25px !important;
}
.m-x-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.m-y-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.m-a-25 {
  margin: 25px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-b-25 {
  padding-bottom: 25px !important;
}
.p-l-25 {
  padding-left: 25px !important;
}
.p-r-25 {
  padding-right: 25px !important;
}
.p-x-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.p-y-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.p-a-25 {
  padding: 25px !important;
}
.top-25 {
  top: 25px !important;
}
.right-25 {
  right: 25px !important;
}
.bottom-25 {
  bottom: 25px !important;
}
.left-25 {
  left: 25px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.m-l-30 {
  margin-left: 30px !important;
}
.m-r-30 {
  margin-right: 30px !important;
}
.m-x-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.m-y-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.m-a-30 {
  margin: 30px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
.p-x-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.p-y-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.p-a-30 {
  padding: 30px !important;
}
.top-30 {
  top: 30px !important;
}
.right-30 {
  right: 30px !important;
}
.bottom-30 {
  bottom: 30px !important;
}
.left-30 {
  left: 30px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-b-40 {
  margin-bottom: 40px !important;
}
.m-l-40 {
  margin-left: 40px !important;
}
.m-r-40 {
  margin-right: 40px !important;
}
.m-x-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.m-y-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.m-a-40 {
  margin: 40px !important;
}
.p-t-40 {
  padding-top: 40px !important;
}
.p-b-40 {
  padding-bottom: 40px !important;
}
.p-l-40 {
  padding-left: 40px !important;
}
.p-r-40 {
  padding-right: 40px !important;
}
.p-x-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.p-y-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.p-a-40 {
  padding: 40px !important;
}
.top-40 {
  top: 40px !important;
}
.right-40 {
  right: 40px !important;
}
.bottom-40 {
  bottom: 40px !important;
}
.left-40 {
  left: 40px !important;
}
.m-t-50 {
  margin-top: 50px !important;
}
.m-b-50 {
  margin-bottom: 50px !important;
}
.m-l-50 {
  margin-left: 50px !important;
}
.m-r-50 {
  margin-right: 50px !important;
}
.m-x-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.m-y-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.m-a-50 {
  margin: 50px !important;
}
.p-t-50 {
  padding-top: 50px !important;
}
.p-b-50 {
  padding-bottom: 50px !important;
}
.p-l-50 {
  padding-left: 50px !important;
}
.p-r-50 {
  padding-right: 50px !important;
}
.p-x-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.p-y-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.p-a-50 {
  padding: 50px !important;
}
.top-50 {
  top: 50px !important;
}
.right-50 {
  right: 50px !important;
}
.bottom-50 {
  bottom: 50px !important;
}
.left-50 {
  left: 50px !important;
}
.m-t-60 {
  margin-top: 60px !important;
}
.m-b-60 {
  margin-bottom: 60px !important;
}
.m-l-60 {
  margin-left: 60px !important;
}
.m-r-60 {
  margin-right: 60px !important;
}
.m-x-60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}
.m-y-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.m-a-60 {
  margin: 60px !important;
}
.p-t-60 {
  padding-top: 60px !important;
}
.p-b-60 {
  padding-bottom: 60px !important;
}
.p-l-60 {
  padding-left: 60px !important;
}
.p-r-60 {
  padding-right: 60px !important;
}
.p-x-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.p-y-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.p-a-60 {
  padding: 60px !important;
}
.top-60 {
  top: 60px !important;
}
.right-60 {
  right: 60px !important;
}
.bottom-60 {
  bottom: 60px !important;
}
.left-60 {
  left: 60px !important;
}
.m-t-80 {
  margin-top: 80px !important;
}
.m-b-80 {
  margin-bottom: 80px !important;
}
.m-l-80 {
  margin-left: 80px !important;
}
.m-r-80 {
  margin-right: 80px !important;
}
.m-x-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}
.m-y-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.m-a-80 {
  margin: 80px !important;
}
.p-t-80 {
  padding-top: 80px !important;
}
.p-b-80 {
  padding-bottom: 80px !important;
}
.p-l-80 {
  padding-left: 80px !important;
}
.p-r-80 {
  padding-right: 80px !important;
}
.p-x-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}
.p-y-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
.p-a-80 {
  padding: 80px !important;
}
.top-80 {
  top: 80px !important;
}
.right-80 {
  right: 80px !important;
}
.bottom-80 {
  bottom: 80px !important;
}
.left-80 {
  left: 80px !important;
}
.m-t-100 {
  margin-top: 100px !important;
}
.m-b-100 {
  margin-bottom: 100px !important;
}
.m-l-100 {
  margin-left: 100px !important;
}
.m-r-100 {
  margin-right: 100px !important;
}
.m-x-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}
.m-y-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
.m-a-100 {
  margin: 100px !important;
}
.p-t-100 {
  padding-top: 100px !important;
}
.p-b-100 {
  padding-bottom: 100px !important;
}
.p-l-100 {
  padding-left: 100px !important;
}
.p-r-100 {
  padding-right: 100px !important;
}
.p-x-100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.p-y-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}
.p-a-100 {
  padding: 100px !important;
}
.top-100 {
  top: 100px !important;
}
.right-100 {
  right: 100px !important;
}
.bottom-100 {
  bottom: 100px !important;
}
.left-100 {
  left: 100px !important;
}
.m-x-auto {
  margin-left: auto;
  margin-right: auto;
}
.b-a {
  border: solid 1px var(--unstyle-border-color);
}
.b-l {
  border-left: solid 1px var(--unstyle-border-color);
}
.b-r {
  border-right: solid 1px var(--unstyle-border-color);
}
.b-t {
  border-top: solid 1px var(--unstyle-border-color);
}
.b-b {
  border-bottom: solid 1px var(--unstyle-border-color);
}
.b-x {
  border-left: solid 1px var(--unstyle-border-color);
  border-right: solid 1px var(--unstyle-border-color);
}
.b-y {
  border-top: solid 1px var(--unstyle-border-color);
  border-bottom: solid 1px var(--unstyle-border-color);
}
.b-a-dotted {
  border: dotted 1px var(--unstyle-border-color);
}
.b-l-dotted {
  border-left: 1px dotted var(--unstyle-border-color);
}
.b-r-dotted {
  border-right: 1px dotted var(--unstyle-border-color);
}
.b-t-dotted {
  border-top: 1px dotted var(--unstyle-border-color);
}
.b-b-dotted {
  border-bottom: 1px dotted var(--unstyle-border-color);
}
.b-x-dotted {
  border-left: 1px dotted var(--unstyle-border-color);
  border-right: 1px dotted var(--unstyle-border-color);
}
.b-y-dotted {
  border-top: 1px dotted var(--unstyle-border-color);
  border-bottom: 1px dotted var(--unstyle-border-color);
}
.b-a-dashed {
  border: dashed 1px var(--unstyle-border-color);
}
.b-l-dashed {
  border-left: 1px dashed var(--unstyle-border-color);
}
.b-r-dashed {
  border-right: 1px dashed var(--unstyle-border-color);
}
.b-t-dashed {
  border-top: 1px dashed var(--unstyle-border-color);
}
.b-b-dashed {
  border-bottom: 1px dashed var(--unstyle-border-color);
}
.b-x-dashed {
  border-left: 1px dashed var(--unstyle-border-color);
  border-right: 1px dashed var(--unstyle-border-color);
}
.b-y-dashed {
  border-top: 1px dashed var(--unstyle-border-color);
  border-bottom: 1px dashed var(--unstyle-border-color);
}
.b-a-double {
  border: double 1px var(--unstyle-border-color);
}
.b-l-double {
  border-left: 1px double var(--unstyle-border-color);
}
.b-r-double {
  border-right: 1px double var(--unstyle-border-color);
}
.b-t-double {
  border-top: 1px double var(--unstyle-border-color);
}
.b-b-double {
  border-bottom: 1px double var(--unstyle-border-color);
}
.b-x-double {
  border-left: 1px double var(--unstyle-border-color);
  border-right: 1px double var(--unstyle-border-color);
}
.b-y-double {
  border-top: 1px double var(--unstyle-border-color);
  border-bottom: 1px double var(--unstyle-border-color);
}
.b-thin {
  border-width: 0.55px !important;
}
.b-thick {
  border-width: 2px !important;
}
.b-r-0 {
  border-radius: 0px !important;
}
.b-r-1 {
  border-radius: 1px !important;
}
.b-r-2 {
  border-radius: 2px !important;
}
.b-r-3 {
  border-radius: 3px !important;
}
.b-r-4 {
  border-radius: 4px !important;
}
.b-r-5 {
  border-radius: 5px !important;
}
.b-r-6 {
  border-radius: 6px !important;
}
.b-r-8 {
  border-radius: 8px !important;
}
.b-r-10 {
  border-radius: 10px !important;
}
.b-r-12 {
  border-radius: 12px !important;
}
.b-r-15 {
  border-radius: 15px !important;
}
.b-r-20 {
  border-radius: 20px !important;
}
.b-circle {
  border-radius: 50%;
}
.l-h-10 {
  line-height: 10px;
}
.l-h-12 {
  line-height: 12px;
}
.l-h-15 {
  line-height: 15px;
}
.l-h-20 {
  line-height: 20px;
}
.l-h-25 {
  line-height: 25px;
}
.l-h-30 {
  line-height: 30px;
}
.l-h-40 {
  line-height: 40px;
}
.l-h-50 {
  line-height: 50px;
}
.l-h-60 {
  line-height: 60px;
}
.l-h-70 {
  line-height: 70px;
}
.l-h-80 {
  line-height: 80px;
}
.l-h-90 {
  line-height: 90px;
}
.l-h-100 {
  line-height: 100px;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.line-through {
  text-decoration: line-through;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.break-word {
  word-break: break-all;
}
.pre {
  white-space: pre;
}
.pre-line {
  white-space: pre-line;
}
.pre-wrap {
  white-space: pre-wrap;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-justify {
  text-align: justify !important;
}
.v-a-baseline {
  vertical-align: baseline !important;
}
.v-a-bottom {
  vertical-align: bottom !important;
}
.v-a-middle {
  vertical-align: middle !important;
}
.v-a-sub {
  vertical-align: sub !important;
}
.v-a-super {
  vertical-align: super !important;
}
.v-a-text-bottom {
  vertical-align: text-bottom !important;
}
.v-a-text-top {
  vertical-align: text-top !important;
}
.v-a-top {
  vertical-align: top !important;
}
.color-aqua {
  color: #0ff !important;
}
.bg-aqua {
  background-color: #0ff !important;
}
.b-aqua {
  border-color: #0ff !important;
}
.color-black {
  color: #000 !important;
}
.bg-black {
  background-color: #000 !important;
}
.b-black {
  border-color: #000 !important;
}
.color-blue {
  color: #00f !important;
}
.bg-blue {
  background-color: #00f !important;
}
.b-blue {
  border-color: #00f !important;
}
.color-cyan {
  color: #0ff !important;
}
.bg-cyan {
  background-color: #0ff !important;
}
.b-cyan {
  border-color: #0ff !important;
}
.color-lightblue {
  color: #add8e6 !important;
}
.bg-lightblue {
  background-color: #add8e6 !important;
}
.b-lightblue {
  border-color: #add8e6 !important;
}
.color-lightgray {
  color: #d3d3d3 !important;
}
.bg-lightgray {
  background-color: #d3d3d3 !important;
}
.b-lightgray {
  border-color: #d3d3d3 !important;
}
.color-lime {
  color: #0f0 !important;
}
.bg-lime {
  background-color: #0f0 !important;
}
.b-lime {
  border-color: #0f0 !important;
}
.color-maroon {
  color: #800000 !important;
}
.bg-maroon {
  background-color: #800000 !important;
}
.b-maroon {
  border-color: #800000 !important;
}
.color-navy {
  color: #000080 !important;
}
.bg-navy {
  background-color: #000080 !important;
}
.b-navy {
  border-color: #000080 !important;
}
.color-gray {
  color: #808080 !important;
}
.bg-gray {
  background-color: #808080 !important;
}
.b-gray {
  border-color: #808080 !important;
}
.color-green {
  color: #008000 !important;
}
.bg-green {
  background-color: #008000 !important;
}
.b-green {
  border-color: #008000 !important;
}
.color-olive {
  color: #808000 !important;
}
.bg-olive {
  background-color: #808000 !important;
}
.b-olive {
  border-color: #808000 !important;
}
.color-orange {
  color: #ffa500 !important;
}
.bg-orange {
  background-color: #ffa500 !important;
}
.b-orange {
  border-color: #ffa500 !important;
}
.color-pink {
  color: #ffc0cb !important;
}
.bg-pink {
  background-color: #ffc0cb !important;
}
.b-pink {
  border-color: #ffc0cb !important;
}
.color-purple {
  color: #800080 !important;
}
.bg-purple {
  background-color: #800080 !important;
}
.b-purple {
  border-color: #800080 !important;
}
.color-red {
  color: #f00 !important;
}
.bg-red {
  background-color: #f00 !important;
}
.b-red {
  border-color: #f00 !important;
}
.color-silver {
  color: #c0c0c0 !important;
}
.bg-silver {
  background-color: #c0c0c0 !important;
}
.b-silver {
  border-color: #c0c0c0 !important;
}
.color-teal {
  color: #008080 !important;
}
.bg-teal {
  background-color: #008080 !important;
}
.b-teal {
  border-color: #008080 !important;
}
.color-violet {
  color: #ee82ee !important;
}
.bg-violet {
  background-color: #ee82ee !important;
}
.b-violet {
  border-color: #ee82ee !important;
}
.color-yellow {
  color: #ff0 !important;
}
.bg-yellow {
  background-color: #ff0 !important;
}
.b-yellow {
  border-color: #ff0 !important;
}
.color-white {
  color: #fff !important;
}
.bg-white {
  background-color: #fff !important;
}
.b-white {
  border-color: #fff !important;
}
.color-gray-1 {
  color: #101010 !important;
}
.bg-gray-1 {
  background-color: #101010 !important;
}
.b-gray-1 {
  border-color: #101010 !important;
}
.color-gray-2 {
  color: #202020 !important;
}
.bg-gray-2 {
  background-color: #202020 !important;
}
.b-gray-2 {
  border-color: #202020 !important;
}
.color-gray-3 {
  color: #303030 !important;
}
.bg-gray-3 {
  background-color: #303030 !important;
}
.b-gray-3 {
  border-color: #303030 !important;
}
.color-gray-4 {
  color: #404040 !important;
}
.bg-gray-4 {
  background-color: #404040 !important;
}
.b-gray-4 {
  border-color: #404040 !important;
}
.color-gray-5 {
  color: #505050 !important;
}
.bg-gray-5 {
  background-color: #505050 !important;
}
.b-gray-5 {
  border-color: #505050 !important;
}
.color-gray-6 {
  color: #606060 !important;
}
.bg-gray-6 {
  background-color: #606060 !important;
}
.b-gray-6 {
  border-color: #606060 !important;
}
.color-gray-7 {
  color: #707070 !important;
}
.bg-gray-7 {
  background-color: #707070 !important;
}
.b-gray-7 {
  border-color: #707070 !important;
}
.color-gray-8 {
  color: #808080 !important;
}
.bg-gray-8 {
  background-color: #808080 !important;
}
.b-gray-8 {
  border-color: #808080 !important;
}
.color-gray-9 {
  color: #909090 !important;
}
.bg-gray-9 {
  background-color: #909090 !important;
}
.b-gray-9 {
  border-color: #909090 !important;
}
.color-gray-a {
  color: #a0a0a0 !important;
}
.bg-gray-a {
  background-color: #a0a0a0 !important;
}
.b-gray-a {
  border-color: #a0a0a0 !important;
}
.color-gray-b {
  color: #b0b0b0 !important;
}
.bg-gray-b {
  background-color: #b0b0b0 !important;
}
.b-gray-b {
  border-color: #b0b0b0 !important;
}
.color-gray-c {
  color: #c0c0c0 !important;
}
.bg-gray-c {
  background-color: #c0c0c0 !important;
}
.b-gray-c {
  border-color: #c0c0c0 !important;
}
.color-gray-d {
  color: #d0d0d0 !important;
}
.bg-gray-d {
  background-color: #d0d0d0 !important;
}
.b-gray-d {
  border-color: #d0d0d0 !important;
}
.color-gray-e {
  color: #e0e0e0 !important;
}
.bg-gray-e {
  background-color: #e0e0e0 !important;
}
.b-gray-e {
  border-color: #e0e0e0 !important;
}
.color-gray-f {
  color: #f0f0f0 !important;
}
.bg-gray-f {
  background-color: #f0f0f0 !important;
}
.b-gray-f {
  border-color: #f0f0f0 !important;
}
.o-0 {
  opacity: 0;
}
.o-1 {
  opacity: 0.1;
}
.o-2 {
  opacity: 0.2;
}
.o-3 {
  opacity: 0.3;
}
.o-4 {
  opacity: 0.4;
}
.o-5 {
  opacity: 0.5;
}
.o-6 {
  opacity: 0.6;
}
.o-7 {
  opacity: 0.7;
}
.o-8 {
  opacity: 0.8;
}
.o-9 {
  opacity: 0.9;
}
.o-10 {
  opacity: 1;
}
.no-select {
  user-select: none;
  -webkit-user-select: none;
}
.no-drag {
  user-drag: none;
  -webkit-user-drag: none;
}
.no-bold {
  font-weight: normal;
}
.no-outline {
  outline: none;
}
.no-link {
  color: inherit;
  text-decoration: none;
}
.no-wrap {
  white-space: nowrap;
}
.c-default {
  cursor: default;
}
.c-none {
  cursor: none;
}
.c-pointer {
  cursor: pointer;
}
.c-crosshair {
  cursor: crosshair;
}
.c-text {
  cursor: text;
}
.c-move {
  cursor: move;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
