/* unstyle - Write less styles */

// 目录 Contents ----------------------------------------------------------------

// 参考
// 布局
// 盒模型
// 边框
// 字体
// 颜色
// 禁止
// 其他

// 参考 Refs --------------------------------------------------------------------

// n1       0 1 2 3 4 5 6 8 10 12 15 20 25 30 40 50 60 70 80 90 100
// n2       100 120 150 200 250 300 400 500 600 800 1000
// b-       border-<style|color|width>
// b-a      border-all
// b-b      border-bottom
// b-l      border-left
// b-r      border-right
// b-r-     border-radius
// b-t      border-top
// b-x      border-left & right
// b-y      border-top & bottom
// bg-      background-color
// c-       cursor
// d-       display
// l-h-     line-height
// h-       height
// h-m-     height minus
// m-a-     margin-all
// m-b-     margin-bottom
// m-l-     marin-left
// m-r-     margin-right
// m-t-     margin-top
// m-x-     margin-left & right
// m-y-     margin-top & bottom
// o-       overflow, opacity
// p-       position
// p-a-     padding-all
// p-b-     padding-bottom
// p-l-     padding-left
// p-r-     padding-right
// p-t-     padding-top
// p-x-     padding-left & right
// p-y-     padding-top & bottom
// v-a-     vertical-align
// w-       width
// w-m-     width minus

// 设置 Settings ----------------------------------------------------------------

:root
  // bootstrap4: e6, element-ui: f0
  --unstyle-border-color #e6e6e6

// 布局 Layout ------------------------------------------------------------------

// position
for $i in static relative absolute fixed sticky
    .p-{$i}
        position $i !important

// display - same with Bootstrap & Primer
for $i in inherit none inline inline-block block table table-cell flex inline-flex
    .d-{$i}
        display $i !important

// float - same with Bootstrap
for $i in left right none
  .float-{$i}
      float $i !important
.clearfix
    overflow auto

// full size
.full-height
.h-full
    height 100% !important
.full-width
.w-full
    width 100% !important
.full-size
    width 100%
    height 100%

// overflow
for $type in visible scroll hidden auto
    .o-{$type}
        overflow $type
    .o-x-{$type}
        overflow-x $type
    .o-y-{$type}
        overflow-y $type

// 盒模型 Box -------------------------------------------------------------------

// [min-, max-] width, height, height minus(h-m-): 10 ~ 1000
for $i in 10 12 15 20 25 30 40 50 60 70 80 90 100 120 150 200 250 300 400 500 600 800 1000
    .w-{$i}
        width $i px
    .h-{$i}
        height $i px
    .w-m-{$i}
        width "calc(100% - %spx)" % $i
    .h-m-{$i}
        height "calc(100% - %spx)" % $i
    .min-w-{$i}
        min-width $i px
    .min-h-{$i}
        min-height $i px
    .max-w-{$i}
        max-width $i px
    .max-h-{$i}
        max-height $i px

// percentile width, multi-based (2 ~ 24)
for $d in 2 3 4 5 6 12 24
    for $i in (1 .. $d)
        .w-{$i}-{$d}
            width percentage($i / $d) !important

// margin, padding
// top, bottom, left, right
for $i in -20 -15 -12 -10 -8 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 8 9 10 12 15 20 25 30 40 50 60 80 100
    // margin
    .m-t-{$i}
        margin-top $i px !important
    .m-b-{$i}
        margin-bottom $i px !important
    .m-l-{$i}
        margin-left $i px !important
    .m-r-{$i}
        margin-right $i px !important
    .m-x-{$i}
        margin-left $i px !important
        margin-right $i px !important
    .m-y-{$i}
        margin-top $i px !important
        margin-bottom $i px !important
    .m-a-{$i}
        margin $i px !important
    // padding
    .p-t-{$i}
        padding-top $i px !important
    .p-b-{$i}
        padding-bottom $i px !important
    .p-l-{$i}
        padding-left $i px !important
    .p-r-{$i}
        padding-right $i px !important
    .p-x-{$i}
        padding-left $i px !important
        padding-right $i px !important
    .p-y-{$i}
        padding-top $i px !important
        padding-bottom $i px !important
    .p-a-{$i}
        padding $i px !important
    // top, right, bottom, left
    .top-{$i}
        top $i px !important
    .right-{$i}
        right $i px !important
    .bottom-{$i}
        bottom $i px !important
    .left-{$i}
        left $i px !important
// 水平居中 margin: auto
.m-x-auto
    margin-left auto
    margin-right auto

// 边框 Border ------------------------------------------------------------------

// border - solid
.b-a
    border solid 1px var(--unstyle-border-color)
.b-l
    border-left solid 1px var(--unstyle-border-color)
.b-r
    border-right solid 1px var(--unstyle-border-color)
.b-t
    border-top solid 1px var(--unstyle-border-color)
.b-b
    border-bottom solid 1px var(--unstyle-border-color)
.b-x
    border-left solid 1px var(--unstyle-border-color)
    border-right solid 1px var(--unstyle-border-color)
.b-y
    border-top solid 1px var(--unstyle-border-color)
    border-bottom solid 1px var(--unstyle-border-color)

// border - not solid
for $style in dotted dashed double
  .b-a-{$style}
    border $style 1px var(--unstyle-border-color)
  .b-l-{$style}
    border-left 1px $style var(--unstyle-border-color)
  .b-r-{$style}
    border-right 1px $style var(--unstyle-border-color)
  .b-t-{$style}
    border-top 1px $style var(--unstyle-border-color)
  .b-b-{$style}
    border-bottom 1px $style var(--unstyle-border-color)
  .b-x-{$style}
    border-left 1px $style var(--unstyle-border-color)
    border-right 1px $style var(--unstyle-border-color)
  .b-y-{$style}
    border-top 1px $style var(--unstyle-border-color)
    border-bottom 1px $style var(--unstyle-border-color)

// border width
.b-thin // half pixel
    border-width 0.55px !important
.b-thick // 2 pixel
    border-width 2px !important

// border-radius
for $i in 0 1 2 3 4 5 6 8 10 12 15 20
    .b-r-{$i}
        border-radius $i px !important
.b-circle
    border-radius 50%

// 字体 Font --------------------------------------------------------------------

for $i in 10 12 15 20 25 30 40 50 60 70 80 90 100
  .l-h-{$i}
      line-height $i px

// font style
.bold
    font-weight bold
.italic
    font-style italic
.underline
    text-decoration underline
.line-through
    text-decoration line-through

// text-ellipsis
.text-ellipsis
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

// break-word
.break-word
    word-break break-all

// pre
for $i in pre pre-line pre-wrap
    .{$i}
        white-space $i

// text-align - same with Bootstrap
for $i in left center right justify
    .text-{$i}
        text-align $i !important

// v-a-[x]: vertical-align
for $i in baseline bottom middle sub super text-bottom text-top top
    .v-a-{$i}
        vertical-align $i !important

// 颜色 Color -------------------------------------------------------------------

// background-color: maroon, fuchsia, olive, navy, teal, aqua
for $color in 'aqua' 'black' 'blue' 'cyan' 'lightblue' 'lightgray' 'lime' 'maroon' 'navy' 'gray' 'green' 'olive' 'orange' 'pink' 'purple' 'red' 'silver' 'teal' 'violet' 'yellow' 'white'
    .color-{$color}
        color convert($color) !important
    .bg-{$color}
        background-color convert($color) !important
    .b-{$color}
        border-color convert($color) !important

// gray colors
for $i in 1 2 3 4 5 6 7 8 9 a b c d e f
    gray = convert('#' + $i + '0' + $i + '0' + $i + '0')
    .color-gray-{$i}
        color gray !important
    .bg-gray-{$i}
        background-color gray !important
    .b-gray-{$i}
        border-color gray !important

// opacity
for $i in 0 1 2 3 4 5 6 7 8 9 10
  .o-{$i}
    opacity ($i * 0.1)

// 禁止 Forbidden ---------------------------------------------------------------

// 禁止选择
.no-select
  user-select none
  -webkit-user-select none

// 禁止拖拽
.no-drag
  user-drag none
  -webkit-user-drag none

// 取消加粗
.no-bold
    font-weight normal

// 清楚焦点轮廓
.no-outline
  outline none

// 清除<a>的默认样式
.no-link
  color inherit
  text-decoration none

// 禁止换行
.no-wrap
  white-space nowrap

// 其他 Others ---------------------------------------------------------------

// cursor
for $i in default none pointer crosshair text move
  .c-{$i}
    cursor $i

// visibility - same with Bootstrap
.visible
  visibility visible
.invisible
  visibility hidden
